* {
    margin: 0;
    padding: 0;
}

.Top-Bar {
    background: rgb(255, 153, 0);
}

.Feature {
    background-color: #ccc;
}

.Feature input[type=checkbox] {
    width: 30px;
    height: 30%;
    size: 400px;
}